body{
text-align: center;
margin: 0;
padding-top: 800px;
}
#img1{
margin-top: 200px;
width: 175px;
margin-bottom: 50px;
border-radius: 50%;
}
#welcome{
 position: absolute;
height: 800px;
color: aqua;
left: 0;
top: 0;
bottom: 0;
right: 0;
z-index: 9;
}
.links {
float: left;
color:brown; 
padding-top:5px; 
padding-left: 9px;
padding-right: 9px;
padding-bottom: 5px; 
font-family: fantasy; 
font-size: 20px; 
}
.menu { 
list-style:none; 
font-family:sans-serif;
position: absolute; 
top: 10px;
right: 130px; 
z-index: 10;
cursor: pointer; 
}
#h1{
font-size: 40px;
font-weight: 300;
}
#h2{
font-size: 40px;
font-weight: 300;
}
